@using Evento.Models;
@model Evento.ViewModels.AssociationsListViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Liste de toutes les associations";
}
    <h1>Liste de toutes les associations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de l’association</th>
            </tr>
        </thead>

        @foreach (Association a in @Model.Associations as List<Association>)
        {
            <tr>
                <td>@a.Id</td>
                <td>@Html.ActionLink(@a.Name, "AssociationDetails", "Association", new { id = a.Id }, null)</td>
            </tr>
        }
    </table>



