@{
	Layout = "_layout";
	ViewBag.Title = "Association non trouvée";
}
	<h1>Association non trouvée</h1>
	<p>L’association que vous cherchez n'existe pas.</p>
	<p>
		@Html.ActionLink("Liste des association", "AssociationsList", "Association")
	</p>

