@{
	Layout = "_layout";
	ViewBag.Title = "Évènement non trouvé";
}
		<h1>Évènement non trouvé</h1>
		<p>L'évènement que vous cherchez n'existe pas.</p>
	<p>
		@Html.ActionLink("Liste des évènements", "EventsList", "Event")
	</p>


